{% extends 'template.html' %}

{% block internalnav1 %}
hunterschwagercardealer.mybluemix.net/
{% endblock internalnav1 %}

{% block navlink1 %}
Home
{% endblock navlink1 %}

{% block internalnav2 %}
hunterschwagercardealer.mybluemix.net/login
{% endblock internalnav2 %}

{% block navlink2 %}
Login
{% endblock navlink2 %}

{% block internalnav3 %}
hunterschwagercardealer.mybluemix.net/contact
{% endblock internalnav3 %}

{% block navlink3 %}
Contact
{% endblock navlink3 %}

{% block content %} 
<h1>About Page</h1>
{% endblock content %} 