{% extends 'template.html' %}

{% block internalnav1 %}
<a href="{% url 'djangoapp:home' %}">Home</a>
{% endblock internalnav1 %}

{% block internalnav2 %}
<a href="{% url 'djangoapp:signup' %}">Sign Up</a>
{% endblock internalnav2 %}

{% block internalnav3 %}
<a href="{% url 'djangoapp:contact' %}">Contact</a>
{% endblock internalnav3 %}

{% block internalnav4 %}
<a href="{% url 'djangoapp:reviews' %}">Reviews</a>
{% endblock internalnav4 %}

{% block content %} 
<h1>About Page</h1>
{% endblock content %} 