{% extends 'template.html' %}

{% block internalnav %}
https://hunterschwag-8000.theiadocker-1-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/contact
{% endblock internalnav %}

{% block navlink1 %}
Contact
{% endblock navlink1 %}

{% block internalnav2 %}
https://hunterschwag-8000.theiadocker-1-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/about
{% endblock internalnav2 %}

{% block navlink2 %}
About
{% endblock navlink2 %}

{% block content %} 
<h1>Home Page</h1>
{% endblock content %} 