{% extends 'template.html' %}

{% block internalnav1 %}
hunterschwagercardealer.mybluemix.net/
{% endblock internalnav1 %}

{% block navlink1 %}
Home
{% endblock navlink1 %}

{% block internalnav2 %}
hunterschwagercardealer.mybluemix.net/about
{% endblock internalnav2 %}

{% block navlink2 %}
About
{% endblock navlink2 %}

{% block internalnav3 %}
hunterschwagercardealer.mybluemix.net/contact
{% endblock internalnav3 %}

{% block navlink3 %}
Contact
{% endblock navlink3 %}

{% block content %} 
<h1>Login Page</h1>
{% endblock content %} 


<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>