<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar">
                    <li>
                        {% block internalnav1 %}{% endblock internalnav1 %}
                    </li>
                    <li>
                        {% block internalnav2 %}{% endblock internalnav2 %}
                    </li>
                    <li>
                        {% block internalnav3 %}{% endblock internalnav3 %}
                    </li>
                    <li>
                        {% block internalnav4 %}{% endblock internalnav4 %}
                    </li>
                </ul>
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <div class="rightalign">
                            <div class="dropdown">
                                <button class="dropbtn">{{user.username}}</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'djangoapp:logout' %}">Logout</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <li>
                             <form class="form-inline" action="{% url 'djangoapp:signup' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Username" name="username" >
                                     <input type="password" class="form-control" placeholder="Password" name="psw" >
                                     <button class="btn btn-primary" type="submit">Login</button>
                                </div>
                             </form>
                        </li>
                    </ul>
                        {% endif %}
                </div>
            </div>
        </nav>
        
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        
            <h3>Reviews for Dealer_id <b>{{dealer.id}}</b></h3>
        
            <div class="container">
                <div class="card-columns">
                    {% for review in reviews %}
                    <div class="col-auto mb-3">
                        <div class="card">
                            {% if review.sentiment == "positive" %}
                                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" width="36px" height="36px"
                                     alt="Sentiment">
                            {% elif review.sentiment == "negative" %}
                                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" width="36px" height="36px"
                                           alt="Sentiment">
                                {% else %}
                                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" width="36px" height="36px"
                                           alt="Sentiment">
                            {% endif %}
                            <div class="card-body bg-light">
                                      {% if review.car_make%}
                                          <h5 class="card-title">{{review.car_make}}, {{review.car_model}} </h5>
                                          <h5 class="card-title">{{review.car_year}}</h5>
                                       {% endif %}
                                      <p class="card-text">{{review.review}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </body>
        
        
</html>